annotated-doc
annotated-types
anyio
blinker
click
fastapi
Flask
h11
idna
itsdangerous
Jinja2
kafka-python
MarkupSafe
numpy
pandas
psycopg2-binary
py4j
pydantic
pydantic_core
pyspark
python-dateutil
pytz
six
starlette
typing-inspection
typing_extensions
tzdata
uvicorn
Werkzeug